/* Best practices font face from Drift Management: http://driftmgmt.com/blog/design/2013/09/font-face-best-practices-guide/
* With the exception of enabling bold fonts using the same font-family.
*
* As per the guide, use Font Squirrel (http://www.fontsquirrel.com/) to convert into all formats except otf.
* Then use Font Converter (http://www.fontconverter.org/) to convert the .ttf to .otf.
*
* I've included a template for a bold font. You can do the same with other weights and styles of the same font.
*/

/*
@font-face {
    font-family: font;
    src: url('../fonts/font.eot');
    src: url('../fonts/font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font.svg#font') format('svg'),
         url('../fonts/font.otf') format('opentype'),
         url('../fonts/font.ttf') format('truetype'),
         url('../fonts/font.woff') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: font;
    src: url('../fonts/font-bold.eot');
    src: url('../fonts/font-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-bold.svg#font') format('svg'),
         url('../fonts/font-bold.otf') format('opentype'),
         url('../fonts/font-bold.ttf') format('truetype'),
         url('../fonts/font-bold.woff') format('woff');
    font-weight: 700;
    font-weight: bold;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: font;
        src: url('../fonts/font.svg') format('svg');
        font-weight: 400;
        font-weight: normal;
    }
    
    @font-face {
        font-family: font;
        src: url('../fonts/font-bold.svg') format('svg');
        font-weight: 700;
        font-weight: bold;
    }
}

body {
    -webkit-font-smoothing: antialiased;
}
*/