#menubox {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#menuicon {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
    transition: all 0s 0.1s;
}

nav {
    background: #FFF;
    
    ul {
        text-align: center;
        list-style: none;
        padding: 0;
        
        li {
            float: left;
            display: inline;
            position: relative;
        }
            
        li a {
            display: block;
            padding: 15px 25px;
            color: #444;
            text-decoration: none;
        }
        
        li:hover, li.current {
            background: #E6E6E6;
        }
    }
            
    ul li ul {
        position: absolute;
        width: 100%;
        background: #FFF;
                
        li {
            width: 100%;
        }
                    
        li a {
            display: block;
            padding: 15px 10px;
            color: #444;
            text-decoration: none;
        }
    }
    
    ul li ul li ul {
        left: 100%;
        top: 0;
    }
}

.no-js nav ul {
    display: none;
}

.no-js nav li:hover ul {
    display: block;
}
