/* Best practices font face from CSS-Tricks: https://css-tricks.com/snippets/css/using-font-face/
I've included a template for a bold font. You can do the same with other weights and styles of the same font. */

/*
@font-face {
    font-family: font;
    src: url('../fonts/font.woff2') format('woff2'),
         url('../fonts/font.woff') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: font;
    src: url('../fonts/font-bold.woff2') format('woff2'),
         url('../fonts/font-bold.woff') format('woff');
    font-weight: 700;
    font-weight: bold;
    font-style: normal;
}
*/
