#menubox {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#menuicon {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
  transition: all 0s 0.1s;
}

nav {
  background: #FFF;
}

nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  display: inline;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 15px 25px;
  color: #444;
  text-decoration: none;
}

nav ul li:hover, nav ul li.current {
  background: #E6E6E6;
}

nav ul li ul {
  position: absolute;
  width: 100%;
  background: #FFF;
}

nav ul li ul li {
  width: 100%;
}

nav ul li ul li a {
  display: block;
  padding: 15px 10px;
  color: #444;
  text-decoration: none;
}

nav ul li ul li ul {
  left: 100%;
  top: 0;
}
