@import 'normalize';
@import 'defaults';
@import 'fonts';
@import 'menu';
@import 'form';

/* Template for a full-size background image

html {
    background: url("../img/test.jpg") no-repeat fixed center center;
    background-size: cover;
} */

/* Template for a sticky footer

#wrapper {
    min-height: 100vh;
}

#content {
    padding-bottom: 50px;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#couch {
    margin: auto;
} */

@import 'responsive';
