/* Remember to use cache_buster for images! */

/* Template for a full-size background image */

html {
    background: url("<cms:cache buster "img/bg.jpg" />") no-repeat fixed center center;
    background-size: cover;
}

/* Template for a sticky footer */

#wrapper {
    min-height: 100vh;
    position: relative;
}

#content {
    padding-bottom: 50px;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#couch {
    margin: auto;
}
